
@model ComProgramPortal.Models.Entities.StudentInfo

@*@{
    ViewBag.Title = "Profile";
}


@{
    ViewBag.Title = "StudentProfile";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}*@


    @using System.Text.RegularExpressions;
    @helper Truncate(string input, int lenght)
    {
if (input.Length <= lenght)
{
        @Html.Raw(input)
}
else
{
        @Html.Raw(input.Substring(0, input.IndexOf(" ", lenght)).ToString())
}
}

    @{
        ViewBag.Title = "StudentProfile";
        Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
        string ReturnUrl = HttpContext.Current.Request.Url.AbsolutePath;
    }



<div class="row">
    <div class="col-md-3">
        <!-- Widget: user widget style 1 -->
        <!-- /.widget-user -->
    </div>
    <!-- /.col -->
    <div class="col-md-6">
        <!-- Widget: user widget style 1 -->
        <div class="box box-widget widget-user">
            <!-- Add the bg color to the header using any of the bg-* classes -->
            <div class="widget-user-header bg-aqua-active">
                <h3 class="widget-user-username">@*@Model.user.Surname @Model.user.FirstName @Model.user.OtherName*@</h3>
                <h3 class="widget-user-username">@ViewBag.student.Fullname</h3>
                <h5 class="widget-user-desc">Registration Number [ @ViewBag.student.StudentRegNumber ]</h5>
                <h5 class="widget-user-desc">Current Package [@ViewBag.Package]</h5>
            </div>
            <div class="widget-user-image content1">
                @if (ViewBag.student.ImageId != 0)
                {
                    <img class="img-circle" src="data:image/jpg;base64,@(Convert.ToBase64String(ViewBag.student.Image))" alt="">
                }
                else
                {
                    <img class="img-circle" src="~/Content/Admin/dist/img/avatar5.jpg" alt="">

                }
            </div>
            <div class="box-footer">

            </div>
            <div class="box-body">
                <div class="nav-tabs-custom">
                    <ul class="nav nav-tabs pull-right">
                        <li><a href="#tab_3-2" data-toggle="tab">Parent/Guardian</a></li>
                        <li><a href="#tab_2-2" data-toggle="tab">Social</a></li>
                        <li class="active"><a href="#tab_1-1" data-toggle="tab">Personal</a></li>
                        <li class="pull-left header"><i class="fa fa-user-circle-o"></i> Profile Info</li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active" id="tab_1-1">
                            <div class="table-responsive">
                                <table class="table table-bordered">
                                    <tr>
                                        <th>UserName</th>
                                        <td>@ViewBag.student.Username</td>
                                    </tr>
                                    <tr>
                                        <th>Full Name</th>
                                        <td>@ViewBag.student.Fullname</td>
                                    </tr>
                                    <tr>
                                        <th>Registration Number</th>
                                        <td>@ViewBag.student.StudentRegNumber</td>
                                    </tr>
                                    <tr>
                                        <th>Disability</th>
                                        <td>@ViewBag.student.Disability</td>
                                    </tr>
                                    <tr>
                                        <th>Emergency Contact</th>
                                        <td>@ViewBag.student.EmergencyContact</td>
                                    </tr>
                                    <tr>
                                        <th>Last Computer Program</th>
                                        <td>@ViewBag.student.PreviousCompKnowledge</td>
                                    </tr>

                                </table>
                            </div>

                        </div>
                        <!-- /.tab-pane -->
                        <div class="tab-pane" id="tab_2-2">
                            <div class="table-responsive">
                                <table class="table table-bordered">
                                    <tr>
                                        <th>Favourite Book</th>
                                        <td>@ViewBag.student.BooksYouLike</td>
                                    </tr>
                                    <tr>
                                        <th>Favourite Food</th>
                                        <td>@ViewBag.student.FavouriteFood</td>
                                    </tr>
                                    <tr>
                                        <th>Favourite Movie</th>
                                        <td>@ViewBag.student.MoviesYouLike</td>
                                    </tr>
                                    <tr>
                                        <th>Favourite Tv Show</th>
                                        <td>@ViewBag.student.TVShowsYouLike</td>
                                    </tr>
                                    <tr>
                                        <th>Likes</th>
                                        <td>
                                            @ViewBag.student.YourLikes
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>DisLikes</th>
                                        <td>@ViewBag.student.YourDisLikes</td>
                                    </tr>
                                    <tr>
                                        <th>Favourite Colour</th>
                                        <td>@ViewBag.student.FavouriteColour</td>
                                    </tr>

                                </table>
                            </div>
                        </div>
                        <!-- /.tab-pane -->
                        <div class="tab-pane" id="tab_3-2">
                            <div class="table-responsive">
                                <table class="table table-bordered">
                                    <tr>
                                        <th>Parent Guardian Name</th>
                                        <td>@ViewBag.student.ParentGuardianName</td>
                                    </tr>
                                    <tr>
                                        <th>Parent Guardian Phone Number</th>
                                        <td>@ViewBag.student.ParentGuardianPhoneNumber</td>
                                    </tr>
                                    <tr>
                                        <th>Parent Guardian Occupation</th>
                                        <td>@ViewBag.student.ParentGuardianOccupation</td>
                                    </tr>
                                    <tr>
                                        <th>Parent Guardian Address</th>
                                        <td>@ViewBag.student.ParentGuardianAddress</td>
                                    </tr>

                                </table>
                            </div>
                        </div>

                    </div>
                    <!-- /.tab-content -->
                </div>
            </div>
        </div>
        <!-- /.widget-user -->

    </div>
    <!-- /.col -->
    <div class="col-md-3">
        <!-- Widget: user widget style 1 -->
        <!-- /.widget-user -->
    </div>
    <!-- /.col -->
</div>


@section Scripts {

    <script>

    </script>
}