@model ComProgramPortal.Models.Entities.Enrollment

@{
    ViewBag.Title = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <!-- left column -->
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <!-- general form elements -->
        <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title">Enroll Student</h3>

            </div>

            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="box-body">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.HiddenFor(model => model.Id)

                    <div class="form-group">
                        @Html.LabelFor(model => model.PackageID, "PackageID", htmlAttributes: new { @class = "control-label " })
                        <div class="">
                            @Html.DropDownList("PackageID", null, htmlAttributes: new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.PackageID, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.StudentInfoID, "StudentInfoID", htmlAttributes: new { @class = "control-label" })
                        <div class="">
                            @Html.DropDownList("StudentInfoID", null, htmlAttributes: new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.StudentInfoID, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    @*<div class="form-group">
                            @Html.LabelFor(model => model.PaymentID, "PaymentID", htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.DropDownList("PaymentID", null, htmlAttributes: new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.PaymentID, "", new { @class = "text-danger" })
                            </div>
                        </div>*@

                </div>

                <div class="box-footer">
                    <button type="submit" class="btn btn-primary">Edit</button>
                    <a href="javascript: history.back()" class="btn btn-default">Cancel</a>
                </div>
            }
        </div>

    </div>
    <div class="col-md-3"></div>

</div>
