

<li class="header">STUDENT NAVIGATION</li>
<li><a href="@Url.Action("Index", "Panel", new { area="Student"})"><i class="fa fa-dashboard"></i> <span>Dashboard</span></a></li>
<li><a href="@Url.Action("StudentProfile","Panel", new { area="Student"})"><i class="fa fa-lock"></i> <span>Profile</span></a></li>
<li><a href="@Url.Action("Assignment", "Panel", new { area="Student"})"><i class="fa fa-book"></i> <span>Assignment</span></a></li>
@*<li><a href="@Url.Action("AssignmentAnswer", "Panel", new { area="Student"})"><i class="fa fa-book"></i> <span>Assignment Answer</span></a></li>*@
<li><a href="@Url.Action("ChangePassword", "Account", new { area=""})"><i class="fa fa-lock"></i> <span>Change Password</span></a></li>


