<li class="header">TEACHER NAVIGATION</li>
<li><a href="@Url.Action("Index", "Panel", new { area="Teacher"})"><i class="fa fa-dashboard"></i> <span>Teacher Dashboard</span></a></li>
<li><a href="@Url.Action("TeacherProfile", "Panel", new { area="Teacher"})"><i class="fa fa-certificate"></i> <span>Profile</span></a></li>
<li><a href="@Url.Action("Qualification", "Panel", new { area="Teacher"})"><i class="fa fa-certificate"></i> <span>Qualifications</span></a></li>
<li><a href="@Url.Action("AddAssignment", "Panel", new { area="Teacher"})"><i class="fa fa-book"></i> <span>Add Assignment</span></a></li>
<li><a href="@Url.Action("Assignment", "Panel", new { area="Teacher"})"><i class="fa fa-book"></i> <span>Assignments</span></a></li>
<li><a href="@Url.Action("ChangePassword", "Account", new { area=""})"><i class="fa fa-lock"></i> <span>Change Password</span></a></li>
